<nav>
    <ul class="middle-menu-list">
        <li>
            <a asp-controller="home" asp-action="index">Home</a>
        </li>
        <li><a asp-controller="home" asp-action="about">about us</a></li>
        <li><a asp-controller="home" asp-action="contact">contact us</a></li>
        <li>
            <a asp-controller="blogs" asp-action="index">blog</a>
        </li>
        <li>
            <a asp-controller="shop" asp-action="index">shop</a>
        </li>
    </ul>
</nav>
